

<div class="button-row">
	<input md-raised-button type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
    <button primary md-raised-button  (click)="upload()"> Upload </button>
</div>
<cl-image [public-id]="imageId" [cloud-name]="uploader.cloudName" width="300" height="300"></cl-image>



  <div flex>
    <div layout="row">

      <div flex="75">
        <md-card>

          <md-card-title>Reviews</md-card-title>
          <md-card-content>
            <!-- list with Icons-->
            <div layout="column" layout-align="start stretch">
              <md-nav-list>
                <template let-item let-last="last" ngFor [ngForOf]="data">
                  <a md-list-item layout-align="row" [routerLink]="['']" (click)="doRoute(item.sku)">
                    <md-icon md-list-icon>account_box</md-icon>
                    <h3 md-line> {{item.review}} </h3>
                    <p md-line> ★ {{item.rating}} </p>
                  </a>
                  <md-divider *ngIf="!last" md-inset></md-divider>
                </template>
              </md-nav-list>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>

